/.vscode
/1747857863124.pdf
/1766908160321.pdf
/addpath(cdynare6.3matlab).txt
/All desktop miscellaneous
/AMCA 1 (2).pdf
/bfi.docx
/birthdayyy gift!
/chandan sengupta.pdf
/clean.cmd
/company_dim.csv
/correction.mod
/csv_files
/Damayantee - Chrome.lnk
/Damayantee Majumdar (2).pdf
/Damayantee Majumdar Cover Letter.pdf
/Damayantee Majumdar CV.docx
/Damayantee Majumdar CV.pdf
/Damayantee Majumdar_IIFTKOLKATA.pdf
/Damayantee Majumdar_IIFTKOLKATA.pdf.docx
/Damayantee Majumdar_IIFTKOLKATA_CV.docx
/Damayantee Majumdar_IIFTKOLKATA_CV.pdf
/Damayantee Majumdar_IIFTKOLKATA_CV2.pdf
/Damayantee Majumdar__IIFTKOLKATA.pdf
/Damayantee Majumdar___Resume.pdf
/Damayantee Majumdar_____CV.docx
/Damayantee Majumdar_____CV.pdf
/Damayantee_photo (1).jpg
/Dashboard 2.xlsx
/Dashboard Snapshot.png
/desktop.ini
/Downloads
/Empirical Issues in Trade (2).pdf
/Excel Certificate.pdf
/Finlatics project 1.docx
/FM
/Football_quest.py
/Football_quest1.py
/GDP_C_I.csv
/ICRIER
/IIFT
/import pygame.txt
/Instrumental
/jnmns19_report_220207_printable (1).pdf
/new data set1.xlsx
/new data1.xlsx
/Orders Data
/Prasuta Certificate.jpeg
/Prasuta Certificate.png
/sib.docx
/SOUTH INDIAN BANK - FINANCIALS 1.xlsx
/Time Series project.docx
/Visual Studio Code.lnk
/__ BillDesk Payment Gateway __IBPS.pdf
/__ BillDesk Payment Gateway __sbi.pdf
/~$ ANALYSIS OF THE PATTERN OF GROWTH OF THE INDIAN ECONOMY POST                                                                                LIBERALISATION.docx
/~$COTRIX.docx
/~$dhi 2.0.docx
/~$EIITF.docx
/~$licy Brief Roadmap to Address Vitamin D Deficiency in India Actionable Points for the MoFPI_July_2025.docx
/~$licy Brief.docx
/~$licy_Brief_Action Points_DoHFW_Vitamin_D_Delhi_July 30 2025.2.docx
/~$licy_Brief_Action Points_DoHFW_Vitamin_D_Delhi_July 30, 2025..docx
/~$licy_Brief_Action Points_DoHFW_Vitamin_D_Delhi_June_2025 (1).docx
/~$mayantee Majumdar Cover Letter.docx
/~$mayantee Majumdar_IIFTKOLKATA.pdf.docx
/~$mayantee Majumdar_IIFTKOLKATA_CV.docx
/~$mayantee Majumdar_____CV.docx
/~$mayantee_CV.docx
/~$me Series project.docx
/~$odhi 2.docx
/~$rketing Challenges in the UAE.docx
/~$SE STUDY 3,.docx
/~$troduction.docx
/~$ze of Indian economy Year.docx
/~WRL0005.tmp
/~WRL0319.tmp
/~WRL1474.tmp
/~WRL1815.tmp